<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node Express BoilerPlate</title>
    <!-- needed for pushstate seo-->
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>


<body>
    <%- body %>
</body>
</html>
